.outer{
    width: 800px;
    height: 1450px;
    margin: 0px auto;
}
.border{
    widows: 67px;
    padding: 40px;
    background-color: rgb(238, 245, 245);
}
h1{
    font-size: 45px;
    margin-top: 3px;
    padding-left: 6px;
    
}
.border1{
    widows: 67px;
    padding:10px;
    background-color: rgb(235, 229, 229);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
P{
    padding-left: 10px;
    font-size: 20px;
}
ul{
    font-size: 20px;
}



